git@github.com:clarenceV1/LibFrameWork.git;LibFrameWork;master
git@github.com:clarenceV1/LibPullToRefresh.git;LibPullToRefresh;master
git@github.com:clarenceV1/LibImageLoader.git;LibImageLoader;master
git@github.com:clarenceV1/LibNet.git;LibNet;master
git@github.com:clarenceV1/LibUtils.git;LibUtils;master
git@github.com:clarenceV1/LibLog.git;LibLog;master
git@github.com:clarenceV1/LibDataStore.git;LibDataStore;master
git@github.com:clarenceV1/LibAptCompiler.git;LibAptCompiler;master
git@github.com:clarenceV1/LibAnnotation.git;LibAnnotation;master
git@github.com:clarenceV1/RemotePlugin.git;RemotePlugin;master
git@github.com:clarenceV1/repo.git;repo;master